@media only screen and (max-width:1024px) {
    
    header {
        display: grid; 
        grid-template-columns: 1fr 3fr 1fr;    
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: start;
        font-size: small;
    }

    #banniere_image {
        display: none;
    }

    section {
        display: flex;
        flex-direction: column;
    }

    #fleche_bulle {
        display: none;
    }

    aside {
        display: grid;
    }

    #photo_zozor {
        padding-left: 20px;
        grid-column: 2;
        grid-row: 2 /span 2;
        margin: auto;        
    }

    aside h1 {
        grid-column: 1 /span 2;
    }

    aside p:last-child {
        grid-column: 1 /span 2;
        text-align: center;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    #mes_photos p {
        width: 50%;
        height: 50%;
        display: flex;
        flex-wrap: wrap;        
    }
}